/****************************
*****************************
          BASE STYLES
*****************************
****************************/

* {
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

nav {
  border-bottom: solid thin #fff;
  border-top: solid thin #fff;
}

main {
  position: relative;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.3em;
}

strong {
  color: orange;
}

p {
  font-size: 1.2em;
}

nav li {
  font-size: 1.2em;
  background: gray;
  margin: 1px;
  cursor: pointer;
}

.featureText {
  font-size: .6em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: #fff solid thin;
  background: #000;
  height: 70px;
}

/****************************
*****************************
          LAYOUT
*****************************
****************************/

#wrapper {
  text-align: center;
  background: #000;
  min-height: 700px;
  padding-top: 5px;
  padding-bottom: 100px;
}

#headerLogo {
  width: 40%;
  max-width: 300px;
}

.feature {
  margin: 5px 0 5px 0;
  padding-bottom: 5px;
  border-bottom: white solid thin;
}

.feature2 {
  display: none;
}

.hidden {
  display: none;
}

.imgCarouselDiv {
  /*position: relative;*/
  /*border: solid orange;*/
  max-width: 500px;
  max-height: 250px;
  margin: 20px auto;
  overflow: hidden;
}

.imgCarouselItem {
  width: 320px;
  height: 250px;
  /*overflow: hidden;*/
}

.slick-slider {
  /*border: yellow solid;*/
  width: 320px;
  height: 250px;
  /*overflow: hidden;*/
}

.slick-track {
  /*border: skyblue solid;*/
  /*overflow: hidden;*/


}

.slick-active {
  /*border: red solid;*/
  /*overflow: hidden;*/

}

.slick-prev {
  border: red solid;

  margin-left: 4px ;
}

.slick-next {
  border: red solid;

  margin-right: 4px;
}

.carouselSpan {
  font-size: 2.1em;
  border: green solid;
}

.homePageFeature {
  margin: 25px 2px 0 2px;
  /*border: yellow solid;*/
}

.aboutPageSection {
  margin: 25px 15px 25px 15px;
}

#officesTemplateOutput {
}

.officeLocations {
  margin: 15px 0 0 0;
}

.agentsPageFeature {
  margin: 50px 2px 50px 2px;
}

#agentsTemplateOutput {
  margin: 10px 5px 10px 5px;
}

.agentProfiles {
  margin: 30px 0 0 0;

}

.agentPhoto {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


.footerSpan {
  font-size: .8em;
}


/****************************
*****************************
      RESPONSIVE DESIGN
*****************************
****************************/


@media (min-width: 400px){

  .navContainer {
    display: flex;
    flex-direction: row;
  }

  .navItem {
    flex: 1;
  }

  .featureText {
    font-size: .8em;
  }

  main {
    margin-left: 15%;
    margin-right: 15%;
  }

  .homePageFeature {
    margin-left: 15%;
    margin-right: 15%;
  }

  .aboutPageSection {
    text-align: left;
  }

  #agentsTemplateOutput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
  }

  .agentProfiles {
    flex: 1;
    flex-basis: 175px;
  }
}

@media (min-width: 600px){

  .featureText {
    font-size: 1em;
  }

  main {
    position: relative;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  h6 {
    font-size: 1.8em;
  }

  span {
    font-size: 3em;
  }

  strong {
    color: orange;
  }

  p {
    font-size: 1.5em;
  }

  nav li {
    font-size: 1.5em;
    background: gray;
    margin: 1px;
    cursor: pointer;
  }

  #aboutPage {
    margin-left: 15%;
    margin-right: 15%;
  }

  .agentProfiles {
    flex-basis: 204px;
  }

}
