/****************************
*****************************
          BASE STYLES
*****************************
****************************/

* {
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

nav {
  border-bottom: solid thin #fff;
  border-top: solid thin #fff;
}

main {
  position: relative;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h6 {
  font-size: 1.3em;
  font-weight: 500;
}

strong {
  color: orange;
}

p {
  font-size: 1.2em;
  line-height: 130%;
}

nav li,
.agentsFilterListItem {
  font-size: 1.4em;
  background: gray;
  margin: 1px;
  padding: 2px;
  cursor: pointer;
  height: 25px;
  list-style: none;
}

.featureText {
  font-size: .6em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: #fff solid thin;
  background: #000;
  height: 70px;
}

nav li:hover,
.agentsFilterListItem:hover {
  border: orange solid thin;
}


.agentProfiles {
  cursor: pointer;
}

/****************************
*****************************
          LAYOUT
*****************************
****************************/

#wrapper {
  text-align: center;
  background: #000;
  min-height: 700px;
  padding-top: 5px;
  padding-bottom: 100px;
}

#headerLogo {
  width: 40%;
  max-width: 300px;
}

#aboutPage {
  margin-left: 10%;
  margin-right: 10%;
}

.feature {
  margin: 5px 0 5px 0;
  padding-bottom: 5px;
  border-bottom: white solid thin;
}

.feature2 {
  display: none;
}

.hidden {
  display: none;
}

.imgCarouselDiv {
  /*position: relative;*/
  /*border: solid orange;*/
  max-width: 500px;
  max-height: 250px;
  margin: 20px auto;
  overflow: hidden;
}

.imgCarouselItem {
  width: 320px;
  height: 250px;
  /*overflow: hidden;*/
}

.slick-slider {
  /*border: yellow solid;*/
  width: 320px;
  height: 250px;
  /*overflow: hidden;*/
}
/*
.slick-prev {
  border: red solid;

  margin-left: 4px ;
}

.slick-next {
  border: red solid;

  margin-right: 4px;
}*/

.homePageFeature {
  margin: 25px 2px 0 2px;
  /*border: yellow solid;*/
}

.agentsPageFeature {
  margin: 50px 12px 40px 12px;
}

.agentsFilterList {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  cursor: pointer;
  width: 75%;
  justify-content: center;
}

#agentsTemplateOutput {
  margin: 10px 0;
}

.agentProfiles {
  margin: 30px 0 0 0;
}

.agentPhoto {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.agentHiddenProfile {
  display: none;
  margin-top: 10px;
}

.aboutPageSection {
  margin: 25px auto;
  text-align: left;
}

#officesTemplateOutput {
  display: block;
  margin: 0 auto;
}

.officeLocations {
  margin: 15px 0 0 0;
  flex: 1;
  flex-basis: 100px;
  text-align: left;
}

.footerSpan {
  font-size: .8em;
}


/****************************
*****************************
      RESPONSIVE DESIGN
*****************************
****************************/


@media (min-width: 400px){

  .navContainer {
    display: flex;
    flex-direction: row;
  }

  .navItem {
    flex: 1;
  }

  .navAgents {
    flex: 2;
  }

  .featureText {
    font-size: .8em;
  }

  .homePageFeature {
    margin-left: 15%;
    margin-right: 15%;
  }

  #aboutPage {
  }

  #officesTemplateOutput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .officeLocations {
    flex: 1;
    width: 50px;
  }

  #agentsTemplateOutput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
  }

  .agentProfiles {
    flex: 1;
    flex-basis: 215px;
  }
}

@media (min-width: 600px){

  .featureText {
    font-size: 1em;
  }

  main {
    position: relative;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  h6 {
    font-size: 1.8em;
  }

  span {
    font-size: 3em;
  }

  strong {
    color: orange;
  }

  p {
    font-size: 1.3em;
  }

  nav li {
    font-size: 1.5em;
    background: gray;
    margin: 1px;
    cursor: pointer;
  }

  .homePageFeature {
    margin-left: 20%;
    margin-right: 20%;
  }

  #aboutPage {
    margin-left: 15%;
    margin-right: 15%;
  }

  .agentsFilterList {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .agentsFilterListItem {
    flex: 1;
    flex-basis: 250px;
    font-size: 1em;
  }

  .agentProfiles {
    flex-basis: 204px;
  }

  .imgCarouselDiv {
    /*position: relative;*/
    /*border: solid orange;*/
    max-width: 600px;
    max-height: 350px;
    margin: 20px auto;
    overflow: hidden;
  }

  .imgCarouselItem {
    width: 420px;
    height: 350px;
    /*overflow: hidden;*/
  }

  .slick-slider {
    /*border: yellow solid;*/
    width: 420px;
    height: 350px;
    /*overflow: hidden;*/
  }


}

@media (min-width: 1000px){

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 3em;
  }

  h6 {
    font-size: 2em;
  }

  span {
    font-size: 3em;
  }

  strong {
    color: orange;
  }

  p {
    font-size: 1.5em;
  }

  #aboutPage {
    margin-left: 15%;
    margin-right: 15%;
  }

  .agentsFilterListItem {
    flex-basis: 250px;
  }

  .agentsFilterListItem h3 {
    font-size: 1.8em;
  }

  .agentProfiles {
    flex-basis: 225px;
  }
